
body{
  background: url('./components/assets/mob-worldpaper.jpg');
      background-size: cover;
      background-position: center;
}

.error-box{
  
  height : 200px;
  width : 200px;
  background-color: rgba(67, 83, 111, 0.67);
  color : white;
  border: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left :25%;
  flex-direction: column;
}


  
  @media only screen and (min-width: 768px) {
  html,body{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418) ), url('./components/assets/worldMap.jpg');
      background-size: cover;
      background-position: center;
  }

  .error-box{
    width : 250px;
    
  }
}

 